@model ApplicazioneAlbergo_core_Entity.Models.Servizio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Servizio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DescrizioneServizio" class="control-label"></label>
              @*   <input asp-for="DescrizioneServizio" class="form-control" /> *@
                <select id="selectList" asp-for="DescrizioneServizio" class="form-control">
                    <option value="">Scegli il tipo di servizio Aggiuntivo...</option>
                    <option value="Nessuno">Nessuno</option>
                    <option value="SPA">S.P.A</option>
                    <option value="Palestra Hotel">Palestra dell'Hotel</option>
                    <option value="Discoteca"> Discoteca</option>
                    <option value="Tutto Incluso">Tutto Incluso</option>
                </select>
                <span asp-validation-for="DescrizioneServizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoServizio" class="control-label"></label>
                <input readonly id="input_prezzo" asp-for="CostoServizio" class="form-control" />
                <span asp-validation-for="CostoServizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        window.onload = () => {

            const selectList = document.getElementById("selectList");
            const inputPrezzo = document.getElementById("input_prezzo");


            selectList.addEventListener("change", () => {

                if (selectList.value === "Nessuno") {
                    //qualcosa
                    inputPrezzo.value = 0
                }

                if (selectList.value === "SPA") {
                    //qualcosa
                    inputPrezzo.value = 35
                }

                if (selectList.value === "Palestra Hotel") {
                    //qualcosa
                    inputPrezzo.value = 55
                }

                if (selectList.value === "Discoteca") {
                    //qualcosa
                    inputPrezzo.value = 65
                }

                if (selectList.value === "Tutto Incluso") {
                    //qualcosa
                    inputPrezzo.value = 95
                }
            })
        }
    </script>
}
